{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Article List" %}</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css">
</head>

<body>
    <!-- 语言切换 -->
    <div class="language-switch">
        <a href="{% url 'switch_language' 'en' %}">English</a> |
<a href="{% url 'switch_language' 'zh-hans' %}">中文</a> |
<a href="{% url 'switch_language' 'de' %}">Deutsch</a> |
<a href="{% url 'switch_language' 'fr' %}">Français</a>
    </div>

    <!-- 在内容列表上方添加搜索框 -->
    <form method="get">
        <input type="text" name="q" value="{{ search_query }}" placeholder="{% trans 'Search articles...' %}">
        <button type="submit">{% trans 'search' %}</button>
        <!-- <a href="{% url 'article_list' %}"><button type="button">清除</button></a> -->
    </form>
    
    <div class="tag-cloud">
        <h3>{% trans "Tags" %}</h3>
        {% for tag in all_tags %}
            <a href="?tag={{ tag.name }}" class="tag">{{ tag.name }}</a>
            <!-- <a href="?tag={{ tag.name }}&q={{search_query}}" class="tag">{{ tag.name }}</a> -->
        {% endfor %}
    </div>
    <a href="{% url 'article_list' %}"><button type="button">{% trans "Clear Search" %}</button></a>

    <h1>{% trans "Latest Articles" %}</h1>
    {% if no_results %}
    <p>{% trans "No results found, please try a different keyword." %}</p>
    {% else %}
        {% for article in page_obj %}
        <div>
            <h2><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h2>
            <p>{% trans "Published on" %}: {{ article.pub_date|date:"Y-m-d H:i" }}, {% trans "Tags" %}：
                {% if article.tag.all %}
                    {% for tag in article.tag.all %}
                        <a href="?tag={{ tag.name }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                        <!-- {{ tag.name }} {% if not forloop.last %}, {% endif %} -->
                    {% endfor %}
                {% else %}
                    None
                {% endif %}
            </p>
            <p>{{ article.abstract }}</p>        
        </div>
        {% endfor %}

    <!-- 添加分页导航 -->
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1&q={{ search_query }}&tag={{ tag_filter }}">{% trans "First Page" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}&q={{ search_query }}&tag={{ tag_filter }}">{% trans "Previous" %}</a>
        {% endif %}
        
        <span>{% trans "Page" %} {{ page_obj.number }} {% trans " " %} / {{ page_obj.paginator.num_pages }} </span>
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&q={{ search_query }}&tag={{ tag_filter }}">{% trans "Next" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&q={{ search_query }}&tag={{ tag_filter }}">{% trans "Last Page" %}</a>
        {% endif %}
    {% endif %}
</div>
</body>
</html>